*,
*::before,
*::after {
  box-sizing: border-box;
  /* html задается*/
  margin: 0;
  /* через нормалайз делается */
  padding: 0;
  /* через нормалайз делается */
  list-style: none;
  /* тоже не так делаетя */
}

@font-face {
  font-family: "TT Lakes Regular";
  src: local("TT Lakes Regular"), url("/fonts/TTLakes-Regular.eot") format("eot"), url("/fonts/TTLakes-Regular.ttf") format("ttf"), url("/fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Medium";
  src: local("TT Lakes Medium"), url("/fonts/TTLakes-Medium.eot") format("eot"), url("/fonts/TTLakes-Medium.ttf") format("ttf"), url("/fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Condensed-Medium";
  src: local("TT Lakes Condensed-Medium"), url("/fonts//TTLakesCondensed-Medium.eot") format("eot"), url("/fonts/TTLakesCondensed-Medium.ttf") format("ttf"), url("/fonts/TTLakesCondensed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Bold";
  src: local("TT Lakes Bold"), url("/fonts/TTLakes-Bold.eot") format("eot"), url("/fonts/TTLakes-Bold.ttf") format("ttf"), url("/fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-size: 14px;
  font-family: "TT Lakes Medium", sans-serif;
  line-height: 18px;
  background-color: #F8F8F8;
  overflow-x: scroll;
}

.body__header {
  min-width: 320px;
  margin-bottom: 24px;
}

@media (min-width: 1120px) {
  .body {
    max-width: 1120px;
    margin: 0 auto;
  }
}

.header {
  background-color: #FFFFFF;
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

@media (min-width: 768px) {
  .header-nav__list {
    padding: 16px 24px;
  }
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.header-nav__item--repair {
  margin-left: auto;
}

.header-nav__item--invisible {
  display: none;
}

.header-nav__item--logo-mobile {
  margin-right: auto;
}

@media (min-width: 768px) {
  .header-nav__item--logo {
    margin-left: 25px;
    margin-right: auto;
  }

  .header-nav__item--repair {
    margin-left: 26px;
  }

  .header-nav__item--invisible {
    display: block;
  }
}


.btn {
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background-color: inherit;
}

.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF3E79;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: background-color 0.5s;
}

.button-icon:hover,
.button-icon:focus {
  background-color: #41F6D7;
  transition: background-color 0.5s;
}

.button-arrow {
  background-color: inherit;
  transition: background-color 0.5s;
  border-radius: 50%;
}

.button-arrow:hover,
.button-arrow:focus {
  background-color: #41F6D7;
  transition: background-color 0.5s;
  border-radius: 50%;
}

@media (min-width: 1120px) {
  .button-icon--main-top {
    position: relative;
  }

  .button-icon__text {
    position: absolute;
    left: -131px;
    cursor: pointer;
  }
}

.main__top {
  position: relative;
  margin-top: 24px;
  margin-bottom: 33px;
  padding: 13px 16px 0;
}

.main__title {
  letter-spacing: -0.1px;
}

.main__title::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 15px);
  left: 0;
  width: 4px;
  height: 40px;
  background-color: #41F6D7;
  border-radius: 50px 0px 0px 50px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.main__icon--disabled {
  display: none;
}

.main__nav {
  margin: 0 0 24px 16px;
}

.main__desc {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "TT Lakes Regular", sans-serif;
  color: #1B1C21;
  letter-spacing: 0.2px;
}

.main__text {
  height: 90px;
  overflow: hidden;
  margin-bottom: 16px;
  padding: 0 16px;
}

.main__pic {
  max-width: 100%;
  height: auto;
  width: 100%;
  text-align: center;
}


@media (min-width: 768px) {
  .main__top {
    padding: 12px 23px;
    margin-bottom: 30px;
  }

  .main__title::before {
    top: calc(50% - 20px);
  }

  .main__nav {
    margin: 0 0 33px 22px;
  }

  .main__desc {
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
    margin: 0 24px;
    line-height: 20px;
  }

  .main__text {
    height: 160px;
    min-width: 312px;
    padding: 0;
    margin-bottom: 9px;
  }

  .main__paragraph {
    margin-bottom: 20px;
  }

  .main__pic {
    min-width: 360px;
    max-width: 100%;
  }
}

@media (min-width: 1120px) {
  .main__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 31px;
    margin-bottom: -5px;
    padding: 12px 32px;
  }

  .main__icon {
    width: 239px;
  }

  .main__icon--disabled {
    display: inline-block;
  }

  .main__nav {
    margin: 0 32px 4px;
  }

  .main__desc {
    gap: 36px;
    margin: 0 35px;
  }

  .main__text {
    margin-top: 10px;
    margin-bottom: 14px;
    width: 490px;
  }

  .main__pic-wrap {
    flex-grow: 1;

  }

  .main__pic {
    width: 532px;
    height: 307px;
  }

}

.text-item {
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.nav {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.nav__list {
  display: flex;
  overflow-x: auto;
  align-items: center;
  white-space: nowrap;
}

.nav__item--active {
  background-color: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

.nav__link {
  display: inline-block;
  padding: 8px 13px 5px 17px;
  color: #7E7E82;
  text-decoration: none;
  text-overflow: initial;
}

@media (min-width: 1120px) {
  .nav__list {
    overflow-x: visible;
    flex-wrap: wrap;
    line-height: 28px;
  }
}


.button-show-more {
  position: relative;
  padding: 0 16px 0 48px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 700;
}

.button-show-more::after {
  content: url(img/icon/read_more.svg);
  position: absolute;
  left: 23px;
}

.button-show-rotate::after {
  transform: rotate(180deg);
}

.button-show-more--brand {
  display: none;
}

@media (min-width: 768px) {
  .button-show-more {
    padding-left: 33px;
  }

  .button-show-more::after {
    left: 9px;
  }

  .button-show-more--brand {
    display: inline-block;
    top: 8px;
    left: 24px;
  }
}

@media (min-width: 1120px) {

  .button-show-more--brand {
    left: 30px;
  }
}

@media (min-width: 768px) {

  .aside__logo {
    margin-left: -63px;
  }
}

/* Боковое меню */
.aside {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  height: 1024px;
  width: 320px;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
  margin: 0 auto 0 0;
}

.aside__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  margin-bottom: 20px;
}

.aside-nav {
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.aside__nav {
  flex-grow: 1;
  padding: 0 24px;
}

.aside-nav__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.aside-nav__item {
  position: relative;
}

.aside-nav__link {
  display: inline-block;
  padding: 10px 0;
  color: #000;
  text-decoration: none;
  text-overflow: initial;
  transition: color 0.5s;
}

.aside-nav__link--active {
  color: #7E7E82;
}

.aside-nav__link--active::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 14px);
  left: -24px;
  width: 4px;
  height: 32px;
  background-color: #41F6D7;
  border-radius: 50px 0px 0px 50px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.aside-nav__link:hover,
.aside-nav__link:focus {
  color: #FF3E79;
  transition: color 0.5s;
}

.aside__footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 21px;
  padding: 0 24px;
}

.aside__lang {
  margin-top: 18px;
}

.aside__icons {
  margin-bottom: 5px;
}

.icon-list {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-style: normal;
}

.contact-mail {
  font-size: 16px;
  color: #000;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-decoration: none;
  font-family: "TT Lakes Medium";
}

.contact-tel {
  font-size: 24px;
  color: #000;
  line-height: 32px;
  letter-spacing: -0.6px;
  text-decoration: none;
  font-family: "TT Lakes Bold";

}

.lang-toggle {
  display: flex;
  gap: 8px;
  font-size: 16px;
  line-height: 24px;
  font-family: "TT Lakes Medium";
}

.lang-toggle__link {
  display: inline-block;
  padding: 10px 0;
  color: #000;
  text-decoration: none;
  text-overflow: initial;
  transition: color 0.5s;
}

.lang-toggle__link--active {
  color: #7E7E82;
}

.lang-toggle__link--active::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 14px);
  left: -24px;
  width: 4px;
  height: 32px;
  background-color: #41F6D7;
  border-radius: 50px 0px 0px 50px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.lang-toggle__link:hover,
.lang-toggle__link:focus {
  color: #FF3E79;
  transition: color 0.5s;
}

/* Слайдер - начало */
.brand-swiper {
  overflow: hidden;
}

.brand__item {
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
  padding: 16px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  width: 240px;
  max-height: 78px;
}

.brand__pic {
  object-fit: contain;
}

@media (min-width: 768px) {

  .brand__list {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 16px;
    height: 176px;
    overflow-y: hidden;
    transition: height 0.3s;
  }

  .brand__item {
    width: 224px;
    height: 72px;
    margin: 0;
  }

  .brand__list--big-height {
    height: 350px;
    transition: height 0.3s;
  }
}

@media (min-width: 1120px) {
  .brand__list {
    column-gap: 32px
  }

  .brand__item {
    width: 240px;
  }

  .brand-slider__big-height {
    height: 248px;
  }
}

.swiper-pagination {
  position: relative;
  height: 50px;
}

.swiper-pagination-bullet {
  position: relative;
  top: 30px;
  width: 12px;
  height: 12px;
  background: #DDDDDD;
}

.brand__subtitle {
  margin-bottom: 16px;
  padding: 16px;
}

@media (min-width: 768px) {

  .swiper-pagination {
    height: 0;

  }

  .swiper-pagination-bullet {
    display: none;
  }

  .brand__subtitle {
    margin-bottom: 24px;
    padding: 16px 24px;
  }
}

@media (min-width: 1120px) {
  .brand__subtitle {
    padding: 16px 32px;
  }
}

/* Слайдер - конец */

.subtitle {
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82;
  background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);

}
