@import './colors';

.aside {
  visibility: hidden;
  position: fixed;
  inset: 0;
  background-color: rgba($color: #fff, $alpha: 0.96);
  z-index: 10;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;


  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    max-height: 1024px;
    width: 320px;
    background-color: $white;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px $black-shadow;
    cursor: default;
  }

  &--open {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s;
    z-index: 10;
    overflow-y: scroll;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    margin-bottom: 20px;
  }

  &__nav {
    flex-grow: 1;
    padding: 0 24px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 21px;
    padding: 0 24px;
  }

  &__lang {
    margin-top: 18px;
  }

  &__icons {
    margin-bottom: 5px;
  }

  &__logo {
    position: relative;
    left: -6px;
  }
}

.aside-nav {
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: $dark-black;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item {
    position: relative;
  }

  &__link {
    display: inline-block;
    padding: 10px 0;
    color: $black;
    text-decoration: none;
    text-overflow: initial;
    transition: color 0.5s;

    &--active {
      color: $gray;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: calc(50% - 14px);
        left: -24px;
        width: 4px;
        height: 32px;
        background-color: $light-green;
        border-radius: 50px 0px 0px 50px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
    }

    &:hover,
    &:focus {
      color: $pink;
      transition: color 0.5s;
    }

  }
}

.icon-list {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-style: normal;
}

.contact-mail {
  font-size: 16px;
  color: $black;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-decoration: none;
  font-family: "TT Lakes Medium";
}

.contact-tel {
  font-size: 24px;
  color: $black;
  line-height: 32px;
  letter-spacing: -0.6px;
  text-decoration: none;
  font-family: "TT Lakes Bold";
}

.lang-toggle {
  display: flex;
  gap: 8px;
  font-size: 16px;
  line-height: 24px;
  font-family: "TT Lakes Medium";

  &__link {
    display: inline-block;
    padding: 10px 0;
    color: $black;
    text-decoration: none;
    text-overflow: initial;
    transition: color 0.5s;

    &--active {
      color: $gray;
    }

    &:hover,
    &:focus {
      color: $pink;
      transition: color 0.5s;
    }
  }
}

@media (min-width: 1120px) {
  .aside {
    position: static;
    transform: translateX(0px);
    opacity: 1;
    order: -1;
    width: 320px;
    box-shadow: none;
    visibility: visible;
    overflow-y: visible;

    &__wrap {
      box-shadow: none;
    }

    &__header {
      padding-top: 30px;
    }
  }

  .aside-nav {
    &__list {
      width: 320px;
    }
  }
}