$pink: #FF3E79; //1
$dark-black: #1B1C21; //1
$black: #000000; //1
$black-shadow: rgba(14, 24, 80, 0.2); //1
$bg-gray: #F8F8F8;
$gray: #7E7E82; //1
$dark-gray: #B5B6BC; //1
$light-gray: #DDDDDD; //1
$light-gray2: #EAEAEA; //1
$light-green: #41F6D7; //1
$light-green-border: #D9FFF5;
$green-active: #B8FFEC; //1
$white: #FFFFFF; //1
$white-opacity: rgba(255, 255, 255, 0.96); //1