@import './colors';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-size: 14px;
  font-family: "TT Lakes Medium", sans-serif;
  line-height: 18px;
  background-color: $bg-gray;
  overflow-x: scroll;
  overflow-y: auto;

  &__header {
    min-width: 320px;
    margin-bottom: 24px;
  }
}

@media (min-width: 768px) {
  .body {
    &__main {
      margin-bottom: 82px;
    }
  }
}

@media (min-width: 1120px) {
  .body {
    display: flex;
    max-width: 1120px;
    margin: 0 auto;
  }
}